extends ../index

block layerlist
    if ((typeof layerData) !== "undefined") && (layerData.length != 0)
            table.layerlist
                tr
                    th Namespace:Name
                    th Type
                    th CRS
                    th Läpinäkyvyys
                    th Lataa
                    th Näytä
                    th Seloste
                
                for layer, index in layerData
                    tr
                        
                        if layer['status'] != 'OK'
                            td(data-name=layer['name'], class='tdName')= layer['name']
                            td Ei löytynyt!
                            td Ei löytynyt!
                            td Ei löytynyt!
                            td Ei löytynyt!
                            td Ei löytynyt!
                            td Ei löytynyt!
                        else
                            td(data-name=layer['name'], data-namespace=layer['namespace'], class='tdName')= layer['namespace'] + ':' + layer['name']
                            td(data-type=layer['type'], class='tdType')= layer['type']
                            td(data-srs=layer['srs'], data-bbox=layer['nativeBoundingBox']['minx']+','+layer['nativeBoundingBox']['miny']+','+layer['nativeBoundingBox']['maxx']+','+layer['nativeBoundingBox']['maxy'])= layer['srs']
                            td(id="opacity")
                                input(type="number", min="0", max="100", value="80", label="opacity")
                            td
                                select
                                    option Valitse formaatti
                                    optgroup(label="WMS")
                                        for opt, label in wms_formats
                                            option(value=opt, onclick="window.open('#{layer['downloadLinks']['wms']}#{opt}');this.parentNode.parentNode.selectedIndex=0;")= label
                                    if layer['type'] == 'vector'
                                        optgroup(label="WFS")
                                            for opt, label in wfs_formats
                                                option(value=opt, onclick="window.open('#{layer['downloadLinks']['wfs']}#{opt}');this.parentNode.parentNode.selectedIndex=0;")= label
                            td.show-on-map
                                button(label="Näytä kartalla", id=layer['name'], class='layerToggle do-show', data-namespace=layer['namespace'], data-name=layer['name'], class='tdName') Näytä
                            td.legend-td

    else
        p Mitään ei löytynyt tai Helsingin kaupungin 
            a(href="http://geoserver.hel.fi/geoserver/web") Geoserveriin
            |  ei saada yhteyttä
